.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
  
  }
  
  .activity-container{
    margin-top: 100px;
    margin-left: 5%;
  }
  
  .activity-counter{
    background-color: linen;
    margin-left:20px;
  }



