.summary-info{
    padding: 10px 10px 0px 20px;
    position: sticky;
    top: 0px;
}

.summary-info h2{
    margin-bottom: 30px;
}

.task-time, .beak-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-time input, .beak-time p{
    background-color: white;
    width: 50%;
    height: 50px;
    border: none; 
    padding-left: 10px;
    border-radius: 15px;
}

.break-btn{
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
}

.break-btn button{
    padding: 4px;
    height: 40px;
    width: 37px;
    border-radius: 50%;
    background-color: lightseagreen;
    color: white;
    margin: 2px;
}

.break-btn button:hover{
    background-color: darkslategrey;
}

.activity-completed{
    margin-top: 50px;
    height: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    background-color: lightseagreen;
    color: white;
}

.activity-completed:hover{
    background-color: darkslategrey;
}

@media only screen and (max-width: 767px) {
    .break-btn{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .break-btn button{
        padding: 4px;
        height: 40px;
        width: 100%;
        border-radius: 10%;
    }

}