.blogs{
    width: 90%;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 10%;
    text-align: justify;
    margin-bottom: 80px;
    background-color: linen;
    padding: 15px;
    border-radius: 5px;
}
.blogs h2{
    font-weight: 700;
    text-align: center;
}

.blog{
    background-color: #edf3f8;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 15px;
}